


/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
/*@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');*/
@import url("components/hero-banner.css");
@import url("components/buttons.css");
@import url("components/container.css");
@import url("components/cards.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: Raleway, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

div {
  display: block;
}

.white {
  color: white;
}

/* Custom design below! */
/* Responsive */
@media (max-width: 960px) {

  .hero-banner {
    width: 100%;
  }

  .container {
    width: 600px;
  }
}

@media (max-width: 720px) {

  .hero-banner {
    width: 100%;
  }

  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {

  .hero-banner {
    width: 540px;
  }

  .container {
    width: 300px;
  }
}
